---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

@font-face {
	font-family: 'univers_next_proHvCn';
	src: url("#{$font-path}/univers_next_pro_heavy_condensed-webfont.woff2") format("woff2"),
			 url("#{$font-path}/univers_next_pro_heavy_condensed-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	src: url("#{$font-path}/Roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

h1, h2, h3, h4, h5, h6, .navbar {
	font-family: 'univers_next_proHvCn', sans-serif;
}

.social {
	.contact-icons {
		font-size: 1rem;
	}
}

.fab, .fas {
	vertical-align: middle;
	background-color: #bfbfbf;
	border-radius: 50%;
	padding: 0.7em;
	margin: 0.8em;
}

.bullet {
	position: absolute;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	margin-left: -2px;
	border-radius: 50%;
	background-color: #bfbfbf;
}

.ar .shooter {
	text-indent: -9999px;
	overflow: hidden;
	background: url("/assets/img/ar.png") no-repeat;
	background-size: contain;
	width: 32px;
	height: 32px;
}

.shotgun .shooter {
	text-indent: -9999px;
	overflow: hidden;
	background: url("/assets/img/shotgun.png") no-repeat;
	background-size: contain;
	width: 32px;
	height: 32px;

}

.target {
	position: absolute;
	color: var(--global-theme-color);
	transition: all 0.3s;
}

.grahamer {
	width: 32px;
	height: 32px;
	background: url("/favicon-32x32.png") no-repeat;
	background-size: cover;
	border-radius: 50%;
}

.mega {
	width: 128px;
	height: 128px;
	background: url("/assets/img/avi_prof_pic.jpg") no-repeat;
	background-size: cover;
}

.mini {
	width: 32px;
	height: 32px;
	background: url("/assets/img/avi_prof_pic.jpg") no-repeat;
	background-size: cover;
}

.micro {
	width: 16px;
	height: 16px;
	background: url("/assets/img/avi_prof_pic.jpg") no-repeat;
	background-size: cover;
}

.scoreboard {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1em;
	background: rgba(255,255,255,.8);
}
