---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

// @font-face {
// 	font-family: 'univers_next_proHvCn';
// 	src: url("#{$font-path}/univers_next_pro_heavy_condensed-webfont.woff2") format("woff2"),
// 			 url("#{$font-path}/univers_next_pro_heavy_condensed-webfont.woff") format("woff");
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: block;
// }

// @font-face {
// 	font-family: 'Roboto';
// 	src: url("#{$font-path}/Roboto/Roboto-Regular.ttf") format("truetype");
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: block;
// }

// h1, h2, h3, h4, h5, h6, .navbar {
// 	font-family: 'univers_next_proHvCn', sans-serif;
// }

.social {
	.contact-icons {
		font-size: 1rem;
	}
}

.fab, .fas {
	vertical-align: middle;
	background-color: #2463c8;
	border-radius: 50%;
	padding: 0.7em;
	margin: 0.8em;
}
